@charset "UTF-8";
/*---------------
base
ボックスサイズの指定
---------------*/
*, *:before, *:after {
  box-sizing: border-box;
}

// Font Setup
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700');

body{
  margin: 0px;
  font-family: "Open Sans", arial, sans-serif;
  line-height: initial;
  font-size: 16px;
}
